<html>
  <head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />
    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">
    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css"/>
  </head>
  <body>
    <!-- Page Wrapper -->
    <div class="wrapper">

      <!-- Header -->
      <div class="header"></div>

      <!-- Page-specific Content -->
      <div class="content">